<head>
    <title>Mighty Mos Custom Homepage</title>
</head>
<h1>Mighty Mos Custom Homepage</h1>

<p>
    <b>Weather</b>
</p>
<p>
    {{ weatherTemp }} --- {{ weatherDesc }} --- {{ weatherCity }}
</p>
<p>
    <b>News</b>
</p>
<p>
    <a href="{{ news2 }}">{{ news0 }}</a><br>
    {{ news1 }}<br><div></div>
</p> 
<p>
    <a href="{{ news5 }}">{{ news3 }}</a><br>
    {{ news4 }}<br><div></div>
</p>
<p>    
    <a href="{{ news8 }}">{{ news6 }}</a><br>
    {{ news7 }}<br><div></div>
</p>
<p>
    <a href="{{ news11 }}">{{ news9 }}</a><br>
    {{ news10 }}<br><div></div>
</p>
<p>
    <a href="{{ news14 }}">{{ news12 }}</a><br>
    {{ news13 }}<br><div></div>
</p>
                        
<p></p>
<p></p>
<p></p>
<!--Bad to deal with page spacing...-->
<p>From the Hubble Space Telescope</p>
<img  src="{{ photo }}">